.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.header {
  font-family: 'Nunito Sans', "Arial", sans-serif;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.header.Dark {
  background: #2B3844;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  color: #fff;
}

.header__inner {
  display: flex;
}

.header__text {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #111517;
}

.header__text.Dark {
  color: #FFFFFF;  
}

.header__box {
  margin: 10px !important;
  margin-left: auto !important;
}

.header__box.Dark {
  background-color: #2B3844;
  color: #FFFFFF;
}

.header__img {
  margin-right: 10.5px;
}

/* .header__desc {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111517;
} */

.Theme.Dark {
  background-color: #202C36;
}
.select.Dark {
  background: #2B3844;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  color: #fff;
}

@media only screen and (max-width:520px) {
  .header__text {
    font-size: 14px;
  }
}