.single-page {
  padding: 80px 0px;
}

.single-page__button {
  margin-bottom: 80px;
}

.single-page__body {
  display: flex;
  align-items: center;
}

.single-page__img {
  margin-right: 200px;
}

.single-page__header {
  font-family: 'Nunito Sans', "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #111517;
  margin: 0;
  margin-bottom: 23px;
}

.single-page__right p {
  font-family: 'Nunito Sans', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #111517;
  margin: 0;
  margin-bottom: 5px;
}

p span {
  font-weight: 600;
}

.single-page__button {
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.single-page__icon {
  margin-right: 10.5px;
}

button span {
  font-family: 'Nunito Sans', "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #111517;
}